storage: none
source https://www.nuget.org/api/v2

nuget FSValidation ~> 0.0.9
nuget GraphQL ~> 2.4

nuget GraphQL.Server.Authorization.AspNetCore ~> 3.4
nuget GraphQL.Server.Transports.AspNetCore ~> 3.4
nuget GraphQL.Server.Transports.WebSockets ~> 3.4
nuget Microsoft.AspNetCore.Authentication.JwtBearer ~> 2.2

group Build
    storage: none
    source https://nuget.org/api/v2

    nuget Fake.Core.Target ~> 5
    nuget Fake.DotNet.Cli ~> 5

group Test
    storage: none
    source https://nuget.org/api/v2

    nuget NUnit3TestAdapter ~> 3
    nuget Unquote ~> 4
    nuget FsCheck.NUnit ~> 2
    nuget Microsoft.NET.Test.Sdk ~> 16
    nuget JsonDiffPatch.NET ~> 2
